---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Fjord & Flavors Events - Nordic Elegance, Global Flavors">
	<Navbar />
	<main>
		<Hero />
		<Services />
		<About />
		<Contact />
	</main>
	<Footer />
</Layout>
